* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 1.0rem;
    font-family: Arial;
}

body{
    margin: 2px 10px;
    min-height: 100%;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: auto;
    margin: 0px;
    background-color: rgb(0, 200, 214);
    border-radius: 10px;
}

.logo{
    width: 100px;
    margin: 5px;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

nav {
    margin: 10px;
    text-align: center;
}

nav > ul{
    text-align: center;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: end;
}

nav > ul > li{
    padding: 10px;
}

nav  ul  li a{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

hr{
    margin: 5px;
}

.home_meio{
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height: 725px;
    align-items: center;
    justify-content: center;
    padding: 2% 0%;
    margin: 0px;
}

.img_meio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img_meio img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    max-height: 90%;
    border-radius: 100%;
}

.competencia{
    gap: 15px;
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: end;
    margin: 0px;
}

.competencia div{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1300px){
    .home_meio{
        display: grid;
        background-color: aliceblue;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        height: 725px;
        align-items: center;
        justify-content: center;
        padding: 2% 0%;
        margin: 0px;
    }
    .img_meio{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 80%;
        width: 80%;
    }
    
    .img_meio img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        max-height: 90%;
        border-radius: 100%;
    }
}


@media screen and (max-width: 900px) { 
    .home_meio{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        height: 725px;
        align-items: center;
        justify-content: center;
        padding: 2% 0%;
        margin: 0px;
    }
    nav  ul  li a{
    	font-size: 0.9rem;
    	font-weight: 500;
    	color: white;
    }
    .logo{
        width: 70px;
        margin: 5px;
        border-radius: 50%;
    }

    .home_meio{
        display: flex;
        background-color: aliceblue;
        padding: 2% 0%;
        margin: 0px;
    }

    .img_meio{
        display: flex;
        justify-content: center;
        align-items: start;
        height: 70%;
        width: 30%;
    }
    
    .img_meio img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        max-height: 90%;
        border-radius: 100%;
    }

    .competencia{
        display: flex;
        width: auto;
        height: auto;
        text-align: center;
        overflow: hidden;
        justify-content: center;
        align-items: end;
        margin: 0px;
        gap: 2px;
        
    }
    .competencia div{
        width: 25px;
        height: 25px;
        margin: 2px;
    }
}

.competencia img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin: 0px;
}

.competencia p{
    font-size: 0.8rem;
    color: black;
    text-align: bottom;
    margin: 0px;
}

.rodape{
    background-color: rgb(0, 200, 214);
    border-radius: 10px;
    height: 50px;
    align-items: center;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.rodape p{
    font-size: 0.8em;
    color: grey;
    text-align: center;
}












section#corpo_portifolio{
    display: grid;
    grid-template-columns: 70% 30% ;
    margin: 0px 20px;
}

div.carreira{
    margin: 0px;
}

section#corpo_portifolio .carreira div:nth-child(1) hr , section#corpo_portifolio .carreira div:nth-child(2) hr{
    margin-right: 30px;
}


section#corpo_portifolio .contato:nth-child(2){
    background-color: aliceblue;
}

section#corpo_portifolio div:nth-child(1) h1{
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgb(0, 200, 214);
}

section#corpo_portifolio div:nth-child(1) h2{
    margin: 10px;
    font-size: 1.2rem;
}

section#corpo_portifolio div.carreira div:first-of-type p:nth-of-type(1n){
    margin: 10px;
    color:gray;
    font-size: 0.6rem;
}

section#corpo_portifolio div.carreira div:first-of-type p:nth-of-type(2n){
    margin: 10px;
    color:black;
    font-size: 0.9rem;
}

section#corpo_portifolio div.carreira div:last-of-type p{
    margin: 10px;
    color:black;
    font-size: 0.9rem;
}

section#corpo_portifolio .contato h1{
    margin-top: 25px;
    font-size: 1.2rem;
    color: rgb(0, 200, 214);
}

section#corpo_portifolio .contato h2{
    margin: 10px;
    color: black;
}

section#corpo_portifolio .contato p{
    margin: 10px;
    font-size: 0.8rem;
    text-align: start;
    color: gray;
}

@media screen and (min-width: 300px) and (max-width: 800px){
    section#corpo_portifolio{
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
}








section#certificacoes{
    height: 800px;
}

.meio{
    display:grid;
    grid-template: 400px 400px /  400px 400px 400px ;
    gap: 10px;
    margin: 5px;
    background-color: aliceblue;
    justify-content: center;
}

section#certificacoes div{
    justify-content: center;
    text-align: center;
}

section#certificacoes div:nth-child(3) img{
    height: 74.6%;
    width: auto;
}

section#certificacoes img{
    width: 100%;
    margin: 0px;
    border: 1px solid black;
}

section#certificacoes div p{
    background-color: rgb(0, 200, 214);
    font-size: 1rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width: 1300px) {
    section#certificacoes{
        height: auto;
        align-items: center;
    }

    .meio{
        display:grid;
        grid-template: 250px 250px / 250px 250px ;
        gap: 10px;
        margin: 5px;
        background-color: aliceblue;
        justify-content: center;
    }
    section#certificacoes div p{
        background-color: rgb(0, 200, 214);
        font-size: 0.8rem;
        color: white;
        margin: 5px;
        padding: 5px;
    }
    section#certificacoes div:nth-child(3) img{
        height: 77%;
        width: auto;
    }
    
}

@media screen and (max-width: 600px){
    
    section#certificacoes{
        height: auto;
        align-items: center;
        background-color: aliceblue;
    }

    .meio{
        display:grid;
        grid-template: 160px 160px 160px / 160px 160px;
        margin: 0px;
        gap:2px;
        justify-content: center;
    }

    section#certificacoes div p {
        background-color: rgb(0, 200, 214);
        font-size: 0.6rem;
        padding: 1px;
        color: white;
        margin: 0px;
    }

    section#certificacoes div:nth-child(3) img{
        height: 77%;
        width: auto;
    }

    section#certificacoes div a{
        font-size: 0.5rem;
        margin: 0px;
    }
}